#upPad {
    padding-top: 60px;
}

#centerPad {
	padding-top: 60px;
	padding-right: 150px;
	padding-left: 150px;
}

#fixedHeading{
	font-family: 'Play', sans-serif;
}

#leftPad {
	padding-left: 500px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {
  height: 450px
}

.sidenav {
  padding-top: 20px;
  background-color: white;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}
